.full-screen {
  height: 100vh;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 300px;
}
.logo {
  width: 100%;
  margin-bottom: 24px;
}
.login-button {
  margin-top: 16px;
}