<div class="full-screen center-content">
  <mat-card class="login-form">
    <img src="assets/metron_logo.png" class="logo">
    <form fxLayout="column" [formGroup]="authForm">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'LOGIN' | translate }}"
          required
          type="text"
          formControlName="login"
        >
        <mat-error *ngIf="authForm.get('login').hasError">{{ "REQUIRED_FIELD" | translate }}</mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'PASSWORD' | translate }}"
          required
          type="password"
          formControlName="password"
        >
        <mat-error *ngIf="authForm.get('login').hasError">{{ "REQUIRED_FIELD" | translate }}</mat-error>
      </mat-form-field>
  
      <button mat-raised-button type="submit" color="primary" class="login-button" (click)="onSubmit()" [disabled]="authForm.invalid === true">
        {{ "ENTER" | translate }}
      </button>
    </form>
  </mat-card>
</div>
