<mat-card class="login-form">
  <form fxLayout="column" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'LOGIN' | translate }}"
        required
        type="text"
        name="login"
        [(ngModel)]="login"
      >
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'PASSWORD' | translate }}"
        required
        type="password"
        name="password"
        [(ngModel)]="password"
      >
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid" color="primary">
      {{ "ENTER" | translate }}
    </button>
  </form>
</mat-card>
